.fs_closeBox {
	background: transparent url(../images/window-close.png) no-repeat center;
}

.fs_titleBar {
	background: #4f4f4f	-webkit-linear-gradient(bottom, #000 33%, #222 67%);
}

.fs_titleBar span {
	color: white;
	margin: 0 16px;
	padding: 0;
	line-height: 32px;
	font-size: 14px;
	text-align: center;
	display: block;
	left: 0;
	right: 32px;
	top:0;
	bottom:0;
	width: 100%;
	height: 100%;
	position: absolute;
}
.fs_titleBar span strong {
	font-size: 16px;
}
.fs_loading {
	background-image: url(../images/ajax_loader_gray.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
